ul.nav-tabs {
	border-bottom: 0px;
}
a.nav-link, a.nav-link.active {
	font-size: 1.2rem;
	color: #2A4FA3 !important;
	padding: 20px 50px;
}
a.nav-link.active {
	background: rgba(242, 242, 242, 1) !important;
	border-color: rgba(242, 242, 242, 1) !important;
}
.btn-primary {
	background-color: rgba(42, 79, 163, 1);
	border-color: rgba(42, 79, 163, 1);
}
.btn-vgreg.btn-secondary {
	background-color: silver !important;
	border-color: silver !important;
}
.btn-vgreg.btn-secondary.active {
	background-color: rgba(42, 79, 163, 1) !important;
	border-color: rgba(42, 79, 163, 1) !important;
}

@media (min-width: 1600px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1365px;
	}
}

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }

.vgblue {
	color: #2A4FA3;
}

/*#header > div {
	padding: 20px;
}*/

#header_logo_wrap {
	padding: 0;
}

#header_logo {
	height: 72px;
	margin: 20px 20px 20px 50px;
	width: 72px;
}

#header_separator {
	transform: rotate(90deg);
}

#header_clock {
	color: #7f7f7f;
	font-size: 0.8rem;
	padding: 2.25rem 0;
}

#header_userctl {
	text-align: right;
}

#header_userctl a.btn {
	margin: 2rem 1rem;
}

#content, #content > div.col {
	padding: 0px;
}

#prefooter {
	background: rgba(242, 242, 242, 1);
	font-size: 1.2rem;
	padding: 20px;
}
#prefooter .col-3 > div {
	margin: 0;
	padding: 5px;
}
#prefooter a {
	color: black;
}
#prefooter h5 {
	color: #555555;
	font-weight: bold;
	padding: 5px;
}
div.pinned-bottom {
	margin-top: 50%;
}
div.pinned-middle {
	margin-top: 25%;
}

#footer {
	background: rgba(42, 79, 163, 1);
	color: white;
	font-size: 0.8rem;
	padding: 20px;
}
#footer a {
	color: white;
}

.common_section {
	background: rgba(242, 242, 242, 1);
	font-size: 1.2rem;
	padding: 20px;
}

.sparse > div {
	padding: 20px;
}

#register form {
	margin: 0 auto;
	width: 60%;
}

#register form div.form-group,#register form div.form-row {
	margin-top: 10px;
}

#login form,#change_password form {
	background: white;
	border: 1px solid rgba(222, 222, 222, 1);
	border-radius: 5px;
	box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.35);
	margin: 100px auto;
	padding: 100px;
	width: 50%;
}

#login form h3 {
	text-align: center;
}

#dashboard {
	padding: 10px 50px;
}

#help {
	padding: 80px;
}

#help h4, #help form {
	margin: 20px auto;
}